#well-image {
    /* z-index:-1; */
    border-width: 0px !important;
    max-width: 500px;
    height: auto;
    position: relative;
    cursor: crosshair;
}

.marker {
    cursor: crosshair;
}

.soak-hidden {
    display: none !important;
}

.ui-resizable {
    position: absolute !important;
    padding: 0px;
    display: inline-block;
}

#well-image-container {
    padding: 0px;
    display: inline-block;
}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

#mainDiv {
    width: 400px;
    height: 200px;
    border: 1px dashed #eee;
  }



.soak-circle {
    z-index:100;
}


#circle {
    max-width: 100%;
    display: block;
}