#well-image {
    /* z-index:-1; */
    /* border-width: 0px !important; */
    max-width: 500px;
    /* height: auto; */
    position: relative;
    cursor: crosshair;
    margin: auto;
}

.svg-circle {
    cursor: crosshair;
}

.marker {
    cursor: crosshair;
}

.soak-hidden {
    display: none !important;
}

.ui-resizable,
.ui-draggable {
    position: absolute !important;
    display: flex;
}

#scale-bar {
    position: absolute !important;
    display: flex;
}

#soakVolume-slider {
    width: 95%;
    opacity: 1 !important;
    margin: auto;
    /* transform: translateY(10px); */
}

#soakVolume-slider span {
    /* background-color: teal !important; */
}

#well-image-container {
    border-radius: .3rem;
    position: relative;
    /* height: 700px;
    width: 700px; */
    background-color: #e9ecef;
    display: flex;
}

form .row {
    margin: 0;
}


/* .button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
} */

#mainDiv {
    width: 400px;
    height: 200px;
    border: 1px dashed #eee;
}

.soak-circle {
    z-index: 100;
}

#circle {
    max-width: 100%;
    display: block;
}