{% extends 'base.html' %}
{% load staticfiles%}
{% load crispy_forms_tags %}

{% block content %}

    <script>
        // Loading the data for use in JS components here
        (function () {
            window.guiData = JSON.parse('{{ guiData|safe }}');
        }());
    </script>

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'apps/xtal_img/css/imageGUI.css' %}" rel="stylesheet">
    <script src="{% static 'apps/xtal_img/js/imageGUI.js'%}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        



    <br>
    <br>


    <div class="container">
        <div class="row" > 
            <div class="col" >
                <div id="well-image-container" >
                    <img id="well-image" src={{image_url}}></img>
                    {% comment %} <div id="well-circle">  {% endcomment %}
                    {% comment %} <div id="well-circle" style="display: None; top: {{topWellCircle}}px; left: {{leftWellCircle}}px">
                        <svg class="svg-circle" width="{{sideWellCircle}}" height="{{sideWellCircle}}">
                            <circle class="circle outer-circle" cx="{{targetWellRadius}}" cy="{{targetWellRadius}}" r="{{radWellCircle_}}" stroke="green" stroke-width="4" fill="" fill-opacity="0.0" />
                            <circle class="circle inner-circle" cx="{{targetWellRadius}}" cy="{{targetWellRadius}}" r="1" stroke="green" stroke-width="4" fill="green" fill-opacity="1.0" />
                        </svg>
                        
                     </div>
                     <div class='{{use_soak|yesno:" ,soak-hidden"}}' id="soak-circle" style="display: None; top: {{topSoakCircle}}px; left: {{leftSoakCircle}}px">
                        <svg class="svg-circle" width="{{sideSoakCircle}}" height="{{sideSoakCircle}}">
                            <circle class="circle outer-circle" cx="{{transferVol}}" cy="{{transferVol}}" r="{{radSoakCircle_}}" stroke="red" stroke-width="4" fill="" fill-opacity="0.0" />
                            <circle class="circle inner-circle" cx="{{transferVol}}" cy="{{transferVol}}" r="1" stroke="red" stroke-width="4" fill="red" fill-opacity="1.0" />
                        </svg>
                        
                     </div> {% endcomment %}
                </div>
                
                <a id="prev-well" class="button" href="/image-gui/{{user_id}}/{{plate_id}}/{{prev_well}}">&lt;&lt; {{prev_well}}</a>
                <a id="next-well" class="button" href="/image-gui/{{user_id}}/{{plate_id}}/{{next_well}}">{{next_well}} &gt;&gt;</a>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>Soak coordinates:<br></p>
                        <p> {{soakX}},{{soakY}}<br></p>
                        <p>Well coordinates:<br></p>
                        <p> {{targetWellX}},{{targetWellY}}<br></p>
                        <form id="soak-form" action="" method="post"> 
                            {%csrf_token%} 
                            {% crispy SoakGUIForm %}
                            <span>
                                Next well on save
                                <input type="checkbox" name="nextWellOnSave" id="nextWellOnSave" Checked><br>  
                            </span>
                            
                            {% comment %} <input type="submit" value="Save"> {% endcomment %}
                        </form>
                        {% comment %} <div id="transferVol-slider"></div> {% endcomment %}
                          
                        <select id="sel-well" name="sel-name">
                            {% for f in file_names %}
                                {% if f == file_name %}
                                    <option value="{{f}}" selected="selected"> {{f}} </option>
                                {% else %}
                                    <option value="{{f}}"> {{f}} </option>
                                {% endif %}
                            {% endfor %}                 
                        </select> <br>
                          

                        <div>
                            <table>
                                <h5> Hotkey mapping </h5>
                                <tbody id="hotKey-map" > </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
            

        </div>

        {% comment %} <div id="mainDiv">
            <div id="annotationText">
                <svg id="circle" width="50" height="50">
                <circle cx="25" cy="25" r="20" stroke="green" stroke-width="4" fill="yellow" fill-opacity="0.0" />
                </svg>
            </div>
        </div> {% endcomment %}
    </div>
    
    

{% endblock %}
