{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Login - {{ block.super }} {% endblock %}
{% block content %} 

{% if next %} 
<div class="container-fluid"> 
    <div class="row">
        <div class="col prompt">
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please
                login with an account that has access.
            </p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-md-4">
            <div class="login-panel card">
                <div class="card-header">
                    <h3 class="card-title">Sign In</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <p class="bs-component">
                        {{ form | crispy }}
                        {% comment %} <table>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table> {% endcomment %}
                        </p>
                        <p class="bs-component">
                            <input class="btn btn-success" type="submit" value="Login">
                            <a href="{% url 'register' %}" class="btn btn-primary"> Register</a>
                        </p>

                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                    <p class="bs-component">
                    </p>
                    <p class="bs-component">
                        <a href="{% url 'user_recover' %}" class="btn btn-secondary"> Forgot username / password?</a>
                    </p>
                    <p>
                        Demo login: username=<code>demo</code> password=<img style="height: 1.5em" src="{% static 'demo_pw.png' %}"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block javascript %} 
{% endblock %}