{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<!-- <form method="post" action="{% url 'manage_user'}" class="" /> -->
<div class="container-fluid">
        <div class="col-lg-8 offset-md-2">
            <h1>Edit User</h1>
            <hr>
            <form method="POST" action="">
                {% csrf_token %}
                {% crispy form %}
                {% comment %} {{form|crispy}} {% endcomment %}
                {% comment %} <button class="btn btn-primary" type="submit">Save</button> {% endcomment %}
                {% comment %} <a class="btn btn-danger" href= {% url 'deactivate_user' %}> Deactivate user </a> {% endcomment %}
            </form>
            
        </div>
</div>



{% endblock %}