.nav-pills .nav-link {
    font-size: 1.2rem;
    background-color: #e9ecef;
    margin: .25rem;
}

.invalid-feedback {
    display: flex;
}


.form-option-title:after {
    content: "-";
    float: right; 
}
.form-option-title.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "+"; 
}