{% extends 'base.html' %}
{% load render_table from django_tables2 %} 
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<script src="{% static 'js/selectDeleteDj2Table.js' %}"></script>
<!-- <script src="/static/js/editProjectModal.js"></script> -->


<!-- The Modal -->
<div class="modal fade" id="newProj">
  <form method="post" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Project</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        
          {% csrf_token %}
          {{ form|crispy }}
          <!-- {% include 'bs4_form.html' with form=form %} -->
        
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Create" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class='container-fluid'>
  
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <div class='jumbotron'>
          <div id="proj_table">
            {% render_table projectsTable %}
          </div>
          
          <a class="btn btn-info" role="button" id="delete-projs"> Deleted selected </a>
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newProj">
              New Project
          </button>
      </div>
      
    </div>
    
  </div>

</div>

<!-- <div class="modal fade" id="projEditModal">
</div> -->

<script>
  $(document).ready(function() {
    let $table = $("#proj_table");
    $table.find('input[type="checkbox"]').shiftSelectable();
    $("#delete-projs").on("click", function(e) {
      e.preventDefault();
      let selected = getSelected("td input[type='checkbox']:checked");
      let base_url = "{% url 'delete_projs' '' %}";
      deleteSelected(selected, base_url, "_")
    });      

  });

</script>

{% endblock %}