{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h3>Experiments <img src={% static 'icons/atomic.png' %} height="10%" width="10%"> </h3>

                  {% load django_tables2 %} 
                  {% render_table experimentsTable %}
                  <a class="btn btn-info" role="button" href={% url 'new_proj_experiment' pk_proj %}> New Experiment </a>
                  <a class="btn btn-info" role="button" id="delete-exps" href={% url 'delete_proj_exps' pk_proj '0/'  %}> Delete Selected </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                  <h3>Libraries <img src={% static 'icons/book.png' %} height="10%" width="10%"></h3>
                  {% load django_tables2 %} 
                  {% render_table librariesTable %}
                  <a class="btn btn-info" role="button" href={% url 'proj_libs' pk_proj %}>View all libraries</a>
            </div>
        </div>
 
    </div>  
</div>



<script>
  $(document).ready(function() {
       
    function getSelected() {
      var selected = [];
                $.each($("td input[type='checkbox']:checked"), function(){
                    var exp = $(this).val();     
                    if (exp.length > 0)  {selected.push(exp);}   
                });
      return selected;
    }

    $("#delete-exps").click(function(){
      
      selected = getSelected();
      var newurl = '/proj/{{pk_proj}}/experiments/delete_exps/' + selected.join("/");
      if (selected.length > 0) {
        if (confirm("Are you sure you want to delete these experiments?")) {
          $("#delete-exps").attr("href", newurl);
        } 
        else {
          $("#delete-exps").attr("href", '/proj/{{pk_proj}}');
        }
      } 
      
    });
            
  });

</script>

{% endblock %}