<div class="modal-dialog">
  <form class="proj_edit-form" method="post" action="/proj/edit/{{pk_proj}}">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Project</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
           {% csrf_token %}
           {% include 'bs4_form.html' with form=form %}
        
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
           <input type="submit" value="Create" />
           <input name="cancel" class="btn" type="submit" value="Cancel"/>
      </div>
    </div>
  </form>
</div>
