{% extends "base.html" %}
{% block title %} Create User - {{ block.super }} {% endblock %}
{% block content %}
<div class="login">
    <!-- {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
    <div class="container-fluid">
        <div class="col-lg-8 offset-md-2">
            <h1>Create account</h1>
            <form method="post" >
                {% csrf_token %}
                {% include 'bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}