{% extends "base.html" %}
{% block title %} Recover User - {{ block.super }} {% endblock %}
{% block content %}
<!-- {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
<div class="login">

    <div class="container-fluid">
        <div class="col-lg-8 offset-md-2">
            <h1>Recover account</h1>
            <p> Please enter username to have new password sent to email on file. </p>
            <p> If you have forgotten your username, please contact xray@msg.ucsf.edu for account retrieval. </p>
            <form method="post" >
                {% csrf_token %}
                <!-- {% include 'bs4_form.html' with form=form %} -->
                <div class="form-group">
			    	<label for="id_username"> <b> Find username: </b> </label>
			    	<input type="text" class="form-control" id="id_username" name="username">
			    </div>
                <button type="submit" class="btn btn-primary">Get new password</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}